<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Shop</title>
<link rel="stylesheet" 
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
	crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
	<div th:replace="header :: header"></div>
		
		<h3 class="text-center">Your orders<span th:unless="${orders}"> have not yet been placed...</span></h3>
		<table class="table" th:if="${orders}" title="Orders">
			<thead class="table-dark">
				<tr>
					<th>Order data</th>
					<th>Products</th>
					<th>Total quantity</th>
					<th>Total costs</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="order: ${orders}">
					<td th:text="${order.orderCreateDate}"></td>
					<td>					
						<table class="table" th:if="${order.orderItems}" title="OrderItems">
							<tbody>
								<tr th:each="orderItem: ${order.orderItems}">
									<td>
										<img data-toggle="modal" 
										data-target="#pictureModal"
										th:data-name="${orderItem.product.name}"						
										th:data-images="${orderItem.product.getProductPicturesImages()}"						
										th:src="@{${orderItem.product.getMainPicture() == null} ? '/images/NoImage.jpg' : ${orderItem.product.getMainPicture()}}"
										height="70px" />
									</td>															
									<td th:text="${orderItem.productQuantity + ' kg'}"></td>
									<td>=</td>
									<td th:text="${orderItem.productsTotalCost + ' UAH'}"></td>		
								</tr>
							</tbody>
						</table>
					</td>
					<td th:text="${order.getOrderTotalQuantity() + ' kg'}"></td>
					<td th:text="${order.getOrderTotalCosts() + ' UAH'}"></td>		
				</tr>
			</tbody>
		</table>
		
		<div class="modal fade" id="pictureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		      <h5 class="modal-title" id="exampleModalLabel"></h5>	       
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form>
		          <div class="form-group text-center" id="modal_body"></div>          
		        </form>
		      </div>
		      <div class="modal-footer">
		      	<div class="form-group">	             
		          </div>  
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>    
		      </div>
		    </div>
		  </div>
		</div>
		
		<script th:inline="javascript">
			$(function(){
				$('#pictureModal').on('show.bs.modal', function (event) {
					var button = $(event.relatedTarget);
					var name = button.data('name');
					var modal_body = document.getElementById("modal_body");
					modal_body.innerHTML = '';
					var imagesForSplit = button.data('images');
					if(null != imagesForSplit){
						var images = imagesForSplit.split('^');
						for (let i = 0; i < images.length; i++) {					
						  	var img = document.createElement("img");
							img.src = images[i];						
							img.classList.add('img-fluid');	
							img.classList.add('w-100');
							img.classList.add('rounded');	
							modal_body.appendChild(img);
						}				
					} else {
						var img = document.createElement("img");
						img.src = "/images/NoImage.jpg";						
						img.classList.add('img-fluid');	
						img.classList.add('w-100');
						img.classList.add('rounded');	
						modal_body.appendChild(img);	
					}
					var modal = $(this);								
					modal.find('.modal-title').text('Images for ' + name);							
				})
			});
		</script>
</body>
</html>